.reviewsSectionWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: clamp(400px, 35vw, 1000px);
  max-width: 1433px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -9vw;
  padding-bottom: 4vw;
  justify-content: space-between;
}
.reviewsText h1:first-of-type {
  font-size: clamp(30px, 3vw, 50px);
  font-weight: bold;
  margin-bottom: 1vw;
}
.reviewsText h1:last-of-type {
  font-size: clamp(19px, 1.3vw, 40px);
  font-weight: 400;
}
.reviewsSection {
  display: flex;
  flex-direction: column;
  height: 60%;
  margin: auto 0;
}
.reviewsSection .scroll {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  background-color: aliceblue;
}

.cardList {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: clamp(20px, 0.3vw, 100px);
}
.card {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  flex-shrink: 0;
  border-width: 0;
  margin: 0 1%;
  flex-basis: calc(23%);
  margin-bottom: 1vw;
  cursor: pointer;
  transition: 0.3s;
}
.card:hover {
  opacity: 0.8;
}

.card .image {
  height: 100%;
  width: 100%;
  display: flex;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 10px 0;
}
.card.special .image {
  background-size: contain;
  background-repeat: no-repeat;
}
.card span {
  font-size: 18px;
  background-color: aliceblue;
}

.arrow {
  padding: clamp(15px, 1vw, 30px);
  border: 0;
  background-color: transparent;
  border-radius: 10px;
  margin: 10px;
  transition: 0.3s;
  background-size: 50%;
  background-repeat: no-repeat;
}
.arrow:hover {
  border-color: black;
  color: black;
}
.arrowright {  
  background-position: right;  
}
.arrow img {
  background-color: red;
}

.paginator {
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.paginator img {
  width: 20px;
}

@media only screen and (max-width: 950px) {
  .reviewsSectionWrapper {
    height: clamp(500px, 35vw, 1000px);
  }
  .card {
    flex-basis: 48%;
  }
  .reviewsSection {
    height: 80%;
  }
}

@media only screen and (max-width: 687px) {
  .reviewsSectionWrapper {    
    height: 120vw;
    margin-top: 0;
    padding-bottom: 0;
    max-width: 500px;
  }
  .reviewsText h1:first-of-type {
    margin-top: 5vw;
    font-size: clamp(30px, 7vw, 100px);    
  }
  .reviewsText h1:last-of-type {
    font-size: clamp(10px, 5vw, 100px);    
    margin: 0 10px;
    margin-top: 20px;
  }
  .reviewsSection {
    flex-basis: 100%;
    margin-top: 5vw;
  }
  .card {
    flex-basis: 98%;
  }
  .reviewsSection {
    height: 80%;
  }
}
